In [6]:
import numpy as np
import pandas as pd

attributes = np.load("./attributes.npy", allow_pickle=True)

In [16]:
attr_df = pd.DataFrame(attributes)
attr_df.head()

,0,1,2,3,4,5,6,7,8,9,...,302,303,304,305,306,307,308,309,310,311
0,0.010638,0.010638,0.007092,0.003546,0.138299,0.065603,0.000000,0.005319,0.000000,0.000000,...,0.000000,0.005439,0.005439,0.228446,0.000000,0.000000,0.186020,0.009186,0.025262,0.020669
1,0.000000,0.011332,0.009444,0.000000,0.202095,0.041552,0.015110,0.005666,0.000000,0.000000,...,0.006291,0.000000,0.111144,0.008388,0.000000,0.046135,0.202572,0.002665,0.021323,0.058639
2,0.000000,0.000000,0.007425,0.000000,0.002475,0.000000,0.000000,0.074247,0.146020,0.000000,...,0.000000,0.000000,0.190411,0.012555,0.000000,0.010462,0.203609,0.000000,0.008853,0.017705
3,0.000000,0.000000,0.003861,0.000000,0.003861,0.013514,0.005792,0.073360,0.138998,0.004127,...,0.004885,0.000000,0.190531,0.000000,0.000000,0.000000,0.152750,0.006840,0.036478,0.043317
4,0.000000,0.035088,0.000000,0.000000,0.000000,0.000000,0.102458,0.070177,0.000000,0.000000,...,0.000000,0.000000,0.204036,0.002458,0.002458,0.000000,0.031640,0.002751,0.015132,0.158200

In [13]:
class_names = np.load("./class_names.npy", allow_pickle=True).item()

# class_df = pd.DataFrame(class_names)

class_names

{np.str_('001.Black_footed_Albatross'): 1,
 np.str_('002.Laysan_Albatross'): 2,
 np.str_('003.Sooty_Albatross'): 3,
 np.str_('004.Groove_billed_Ani'): 4,
 np.str_('005.Crested_Auklet'): 5,
 np.str_('006.Least_Auklet'): 6,
 np.str_('007.Parakeet_Auklet'): 7,
 np.str_('008.Rhinoceros_Auklet'): 8,
 np.str_('009.Brewer_Blackbird'): 9,
 np.str_('010.Red_winged_Blackbird'): 10,
 np.str_('011.Rusty_Blackbird'): 11,
 np.str_('012.Yellow_headed_Blackbird'): 12,
 np.str_('013.Bobolink'): 13,
 np.str_('014.Indigo_Bunting'): 14,
 np.str_('015.Lazuli_Bunting'): 15,
 np.str_('016.Painted_Bunting'): 16,
 np.str_('017.Cardinal'): 17,
 np.str_('018.Spotted_Catbird'): 18,
 np.str_('019.Gray_Catbird'): 19,
 np.str_('020.Yellow_breasted_Chat'): 20,
 np.str_('021.Eastern_Towhee'): 21,
 np.str_('022.Chuck_will_Widow'): 22,
 np.str_('023.Brandt_Cormorant'): 23,
 np.str_('024.Red_faced_Cormorant'): 24,
 np.str_('025.Pelagic_Cormorant'): 25,
 np.str_('026.Bronzed_Cowbird'): 26,
 np.str_('027.Shiny_Cowbird'): 27,
 np.str_('028.Brown_Creeper'): 28,
 np.str_('029.American_Crow'): 29,
 np.str_('030.Fish_Crow'): 30,
 np.str_('031.Black_billed_Cuckoo'): 31,
 np.str_('032.Mangrove_Cuckoo'): 32,
 np.str_('033.Yellow_billed_Cuckoo'): 33,
 np.str_('034.Gray_crowned_Rosy_Finch'): 34,
 np.str_('035.Purple_Finch'): 35,
 np.str_('036.Northern_Flicker'): 36,
 np.str_('037.Acadian_Flycatcher'): 37,
 np.str_('038.Great_Crested_Flycatcher'): 38,
 np.str_('039.Least_Flycatcher'): 39,
 np.str_('040.Olive_sided_Flycatcher'): 40,
 np.str_('041.Scissor_tailed_Flycatcher'): 41,
 np.str_('042.Vermilion_Flycatcher'): 42,
 np.str_('043.Yellow_bellied_Flycatcher'): 43,
 np.str_('044.Frigatebird'): 44,
 np.str_('045.Northern_Fulmar'): 45,
 np.str_('046.Gadwall'): 46,
 np.str_('047.American_Goldfinch'): 47,
 np.str_('048.European_Goldfinch'): 48,
 np.str_('049.Boat_tailed_Grackle'): 49,
 np.str_('050.Eared_Grebe'): 50,
 np.str_('051.Horned_Grebe'): 51,
 np.str_('052.Pied_billed_Grebe'): 52,
 np.str_('053.Western_Grebe'): 53,
 np.str_('054.Blue_Grosbeak'): 54,
 np.str_('055.Evening_Grosbeak'): 55,
 np.str_('056.Pine_Grosbeak'): 56,
 np.str_('057.Rose_breasted_Grosbeak'): 57,
 np.str_('058.Pigeon_Guillemot'): 58,
 np.str_('059.California_Gull'): 59,
 np.str_('060.Glaucous_winged_Gull'): 60,
 np.str_('061.Heermann_Gull'): 61,
 np.str_('062.Herring_Gull'): 62,
 np.str_('063.Ivory_Gull'): 63,
 np.str_('064.Ring_billed_Gull'): 64,
 np.str_('065.Slaty_backed_Gull'): 65,
 np.str_('066.Western_Gull'): 66,
 np.str_('067.Anna_Hummingbird'): 67,
 np.str_('068.Ruby_throated_Hummingbird'): 68,
 np.str_('069.Rufous_Hummingbird'): 69,
 np.str_('070.Green_Violetear'): 70,
 np.str_('071.Long_tailed_Jaeger'): 71,
 np.str_('072.Pomarine_Jaeger'): 72,
 np.str_('073.Blue_Jay'): 73,
 np.str_('074.Florida_Jay'): 74,
 np.str_('075.Green_Jay'): 75,
 np.str_('076.Dark_eyed_Junco'): 76,
 np.str_('077.Tropical_Kingbird'): 77,
 np.str_('078.Gray_Kingbird'): 78,
 np.str_('079.Belted_Kingfisher'): 79,
 np.str_('080.Green_Kingfisher'): 80,
 np.str_('081.Pied_Kingfisher'): 81,
 np.str_('082.Ringed_Kingfisher'): 82,
 np.str_('083.White_breasted_Kingfisher'): 83,
 np.str_('084.Red_legged_Kittiwake'): 84,
 np.str_('085.Horned_Lark'): 85,
 np.str_('086.Pacific_Loon'): 86,
 np.str_('087.Mallard'): 87,
 np.str_('088.Western_Meadowlark'): 88,
 np.str_('089.Hooded_Merganser'): 89,
 np.str_('090.Red_breasted_Merganser'): 90,
 np.str_('091.Mockingbird'): 91,
 np.str_('092.Nighthawk'): 92,
 np.str_('093.Clark_Nutcracker'): 93,
 np.str_('094.White_breasted_Nuthatch'): 94,
 np.str_('095.Baltimore_Oriole'): 95,
 np.str_('096.Hooded_Oriole'): 96,
 np.str_('097.Orchard_Oriole'): 97,
 np.str_('098.Scott_Oriole'): 98,
 np.str_('099.Ovenbird'): 99,
 np.str_('100.Brown_Pelican'): 100,
 np.str_('101.White_Pelican'): 101,
 np.str_('102.Western_Wood_Pewee'): 102,
 np.str_('103.Sayornis'): 103,
 np.str_('104.American_Pipit'): 104,
 np.str_('105.Whip_poor_Will'): 105,
 np.str_('106.Horned_Puffin'): 106,
 np.str_('107.Common_Raven'): 107,
 np.str_('108.White_necked_Raven'): 108,
 np.str_('109.American_Redstart'): 109,
 np.str_('110.Geococcyx'): 110,
 np.str_('111.Loggerhead_Shrike'): 111,
 np.str_('112.Great_Grey_Shrike'): 112,
 np.str_('113.Baird_Sparrow'): 113,
 np.str_('114.Black_throated_Sparrow'): 114,
 np.str_('115.Brewer_Sparrow'): 115,
 np.str_('116.Chipping_Sparrow'): 116,
 np.str_('117.Clay_colored_Sparrow'): 117,
 np.str_('118.House_Sparrow'): 118,
 np.str_('119.Field_Sparrow'): 119,
 np.str_('120.Fox_Sparrow'): 120,
 np.str_('121.Grasshopper_Sparrow'): 121,
 np.str_('122.Harris_Sparrow'): 122,
 np.str_('123.Henslow_Sparrow'): 123,
 np.str_('124.Le_Conte_Sparrow'): 124,
 np.str_('125.Lincoln_Sparrow'): 125,
 np.str_('126.Nelson_Sharp_tailed_Sparrow'): 126,
 np.str_('127.Savannah_Sparrow'): 127,
 np.str_('128.Seaside_Sparrow'): 128,
 np.str_('129.Song_Sparrow'): 129,
 np.str_('130.Tree_Sparrow'): 130,
 np.str_('131.Vesper_Sparrow'): 131,
 np.str_('132.White_crowned_Sparrow'): 132,
 np.str_('133.White_throated_Sparrow'): 133,
 np.str_('134.Cape_Glossy_Starling'): 134,
 np.str_('135.Bank_Swallow'): 135,
 np.str_('136.Barn_Swallow'): 136,
 np.str_('137.Cliff_Swallow'): 137,
 np.str_('138.Tree_Swallow'): 138,
 np.str_('139.Scarlet_Tanager'): 139,
 np.str_('140.Summer_Tanager'): 140,
 np.str_('141.Artic_Tern'): 141,
 np.str_('142.Black_Tern'): 142,
 np.str_('143.Caspian_Tern'): 143,
 np.str_('144.Common_Tern'): 144,
 np.str_('145.Elegant_Tern'): 145,
 np.str_('146.Forsters_Tern'): 146,
 np.str_('147.Least_Tern'): 147,
 np.str_('148.Green_tailed_Towhee'): 148,
 np.str_('149.Brown_Thrasher'): 149,
 np.str_('150.Sage_Thrasher'): 150,
 np.str_('151.Black_capped_Vireo'): 151,
 np.str_('152.Blue_headed_Vireo'): 152,
 np.str_('153.Philadelphia_Vireo'): 153,
 np.str_('154.Red_eyed_Vireo'): 154,
 np.str_('155.Warbling_Vireo'): 155,
 np.str_('156.White_eyed_Vireo'): 156,
 np.str_('157.Yellow_throated_Vireo'): 157,
 np.str_('158.Bay_breasted_Warbler'): 158,
 np.str_('159.Black_and_white_Warbler'): 159,
 np.str_('160.Black_throated_Blue_Warbler'): 160,
 np.str_('161.Blue_winged_Warbler'): 161,
 np.str_('162.Canada_Warbler'): 162,
 np.str_('163.Cape_May_Warbler'): 163,
 np.str_('164.Cerulean_Warbler'): 164,
 np.str_('165.Chestnut_sided_Warbler'): 165,
 np.str_('166.Golden_winged_Warbler'): 166,
 np.str_('167.Hooded_Warbler'): 167,
 np.str_('168.Kentucky_Warbler'): 168,
 np.str_('169.Magnolia_Warbler'): 169,
 np.str_('170.Mourning_Warbler'): 170,
 np.str_('171.Myrtle_Warbler'): 171,
 np.str_('172.Nashville_Warbler'): 172,
 np.str_('173.Orange_crowned_Warbler'): 173,
 np.str_('174.Palm_Warbler'): 174,
 np.str_('175.Pine_Warbler'): 175,
 np.str_('176.Prairie_Warbler'): 176,
 np.str_('177.Prothonotary_Warbler'): 177,
 np.str_('178.Swainson_Warbler'): 178,
 np.str_('179.Tennessee_Warbler'): 179,
 np.str_('180.Wilson_Warbler'): 180,
 np.str_('181.Worm_eating_Warbler'): 181,
 np.str_('182.Yellow_Warbler'): 182,
 np.str_('183.Northern_Waterthrush'): 183,
 np.str_('184.Louisiana_Waterthrush'): 184,
 np.str_('185.Bohemian_Waxwing'): 185,
 np.str_('186.Cedar_Waxwing'): 186,
 np.str_('187.American_Three_toed_Woodpecker'): 187,
 np.str_('188.Pileated_Woodpecker'): 188,
 np.str_('189.Red_bellied_Woodpecker'): 189,
 np.str_('190.Red_cockaded_Woodpecker'): 190,
 np.str_('191.Red_headed_Woodpecker'): 191,
 np.str_('192.Downy_Woodpecker'): 192,
 np.str_('193.Bewick_Wren'): 193,
 np.str_('194.Cactus_Wren'): 194,
 np.str_('195.Carolina_Wren'): 195,
 np.str_('196.House_Wren'): 196,
 np.str_('197.Marsh_Wren'): 197,
 np.str_('198.Rock_Wren'): 198,
 np.str_('199.Winter_Wren'): 199,
 np.str_('200.Common_Yellowthroat'): 200}